 <div ng-controller="FormController">
  <div ng-if="showErrorMsg">
        <span style="color:red" ng-bind="errorMsg">Enter mandatory fields</span>
  </div>
<form>
  <div class="form-group">
    <label for="clientName">Client name*</label>
    <input type="text" class="form-control" id="clientName" ng-model="clientName" aria-describedby="clientNameHelp" placeholder="Client name" />
  </div>
  <div class="form-group" autocomplete="off">
    <label for="contentType">Content type*</label>
    <select ng-model="contentsType" class="form-control"
        ng-options="item.id as item.name for item in contents" 
        >
        <option value="">Choose conent type</option>
    </select>
  </div>
   <div class="form-group">
    <label for="serviceName">ServiceName*</label>
    <textarea class="form-control" id="serviceName" rows="1" ng-model="serviceName"></textarea>
  </div>
  <div class="form-group">
    <label for="requestTextArea">Request</label>
    <textarea class="form-control" id="requestTextArea" rows="3" ng-model="request"></textarea>
  </div>
  <div class="form-group">
    <label for="responseTextArea">Response*</label>
    <textarea class="form-control" id="responseTextArea" rows="3" ng-model="response"></textarea>
  </div>
  <div class="form-group">
    <label for="description">Information</label>
    <textarea class="form-control" id="description" rows="1" ng-model="description"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="SubmitForm()">Submit</button>
   <!--<a href="/default" role="button" class="btn btn-primary">Back to home</a>-->
   <!--<div ng-if="showBanner">
        <flyout-message text="{{bannerText}}" type="{{bannerType}}" showbanner="{{showBanner}}" autodismiss="false">
        </flyout-message>
   </div>-->
   <div class="error-banner" ng-show="showBanner">
    <span>{{bannerText}}!</span><span class="close" ng-click="closeBanner()">X</span>
  </div>
    
</form>
</div>