<div ng-controller="View2Controller as $ctrl">
    <script type="text/ng-template" id="modal-window.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title" ng-bind="$ctrl.modalTitle"></h3>
        </div>
        <div class="modal-body" id="modal-body">
            <span ng-bind="$ctrl.val"></span>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <!--<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>-->
        </div>
    </script>
    <div class="main">
         <div class="form-group">
            <label for="clientName">Filter by client name</label>
            <input type="text" class="form-control" ng-model="search.client" placeholder="Client name"  aria-describedby="clientNameHelp"  />
        </div>
        <div class="table-responsive">
            <table border="1" cellpadding="5px" cellspacing="0" class="table table-hover table-bordered table-striped">
                <tr>
                    <th>Client</th>
                    <th>Request</th>
                    <th>ServiceName</th>
                    <th>Response</th>
					<th tooltip="After today restriction">Information</th>					
                </tr>

                
                <tr ng-repeat="x in data1.mockDataList | filter:search">
                    <td ng-bind="::x.client"></td>
                    <td><a href="" ng-click='$ctrl.open(x.request, "Request")'><span ng-bind="::x.request | limitTo:10"></span>
                         <span ng-if="x.request.length > 10">...</span></a></td>
                    <td ng-bind="::x.serviceName"></td>
                    <td><a href="" ng-click='$ctrl.open(x.response, "Response")'><span ng-bind="::x.response | limitTo:10"></span>
                         <span ng-if="x.response.length > 10">...</span></a></td>
					<td ng-bind="::x.description"></td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <!--<a href="/default" role="button" class="btn btn-primary">Back to home</a>-->
    </div>
</div>